.autocomplete-suggestions {
  z-index: 2147483647 !important;
  position: absolute !important;
  border: 1px solid #ccc !important;
  display: flex !important;
  flex-direction: column !important;
}

.autocomplete-suggestion {
  padding: 10px 4px 10px 4px !important;
  background-color: white !important;
  color: black !important;
  font-size: small !important;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.active {
  background-color: #eee !important;
}

.delete-button {
  background-color: transparent !important;
  color: #ccc !important;
  padding: 0 !important;
  text-align: center !important;
  border: none !important;
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  margin-left: 20px !important;
  line-height: 0 !important;
  font-family: inherit !important;
}

.delete-button:hover {
  background-color: #f44336 !important;
  color: white !important;
  visibility: visible !important;
}
