.dark .autocomplete-suggestions > .autocomplete-suggestion {
  background-color: black;
  color: #808080;
}

.dark .autocomplete-suggestions > .active {
  background-color: #40414f;
}
/********************************************************************/

.autocomplete-suggestions {
  z-index: 2147483647;
  position: absolute;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.autocomplete-suggestions > .autocomplete-suggestion {
  padding: 10px 4px 10px 4px;
  background-color: white;
  color: black;
  font-size: small;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autocomplete-suggestions > .active {
  background-color: #eee;
}

.autocomplete-suggestion {
  cursor: pointer;
}

.autocomplete-suggestion > .delete-button {
  background-color: transparent;
  color: #ccc;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  line-height: 0;
  font-family: inherit;
  min-height: unset;
  min-width: unset;
}

.autocomplete-suggestion > .delete-button:hover {
  background-color: #f44336;
  color: white;
  visibility: visible;
}
