.ai-request-input {
  cursor: pointer !important;
  position: absolute !important;
  width: 256px !important;
  height: 32px !important;
  padding: 2px 8px !important;
  box-sizing: border-box !important;
  border: none !important;
  border-style: hidden !important;
  border-radius: 4px !important;
  background-color: #5469d4 !important;
  color: white !important;
  outline: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  min-height: unset !important;
  max-height: unset !important;
  transition: unset !important;
  box-shadow: unset !important;
  z-index: 2147483647 !important;
}

.ai-answer-box {
  cursor: pointer !important;
  position: absolute !important;
  padding: 7px !important;
  border-radius: 10px !important;
  border: 2px solid transparent !important;
  background-color: khaki !important;
  color: #333 !important;
  z-index: 2147483646 !important;
  overflow-y: hidden !important;
  min-width: 300px !important;
}

.selected-text-highlight {
  background-color: #b7c2ff; /* Light blue */
  color: black;
}
