.aiRequestButton {
  cursor: pointer;
  position: absolute;
  border: 0;
  outline: 0;
  color: white;
  background-color: rgb(84, 105, 212);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  z-index: 2147483647;
  height: unset;
}

.aiRequestInput {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  box-sizing: border-box;
  border: 0;
  background: transparent !important;
  color: white;
  outline: none;
}

.aiAnswerBox {
  cursor: pointer;
  position: absolute;
  padding: 7px;
  border-radius: 10px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  background-color: khaki;
  color: #333;
  z-index: 2147483647;
  overflow-y: hidden;
  min-width: 300px;
}
