body {
  padding: 0px;
  margin: 0px;
  width: 400px;
}

select {
  margin: 8px 0px;
  padding: 8px;
}

textarea {
  padding: 8px;
  border-color: #eee;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

textarea:focus {
  outline: 2px solid lightblue;
}

button:focus {
  outline: 2px solid rgb(64, 255, 0);
}

.container {
  height: 97vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  gap: 8px;
}
.horizontal {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0px;
  background-color: #5469d4;
  color: white;
  text-align: center;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.ocr-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  background-color: #5469d4;
  color: white;
  text-align: center;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.settings-button .icon,
.ocr-button .icon {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.submit-config-button {
  background-color: #5469d4;
  color: white;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cancel-config-button {
  background-color: lightgray;
  color: black;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.submit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #5469d4;
  color: white;
  border-radius: 4px;
  border: none;
}

#temperatureInput {
  position: absolute;
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
  bottom: 0;
  right: 80px;
  border: solid #eef;
  margin: 10px;
}

.input-container {
  display: flex;
  position: relative;
}

.top,
.bottom,
.left,
.right {
  flex: 1;
}

.half {
  flex: 0.5;
}

#aiSuggestionTextArea {
  background-color: #fffbcd;
}

.config-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  align-items: center;
  justify-content: center;
}

#configForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

#configForm input[type="text"],
#configForm input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
