body.dark {
  background-color: #202123;
}

body.dark textarea,
body.dark input {
  background-color: #40414f;
  color: #d5d5db;
  border-color: #606070;
}

body.dark textarea::placeholder,
body.dark input::placeholder {
  color: #808080;
}

body.dark #aiSuggestionTextArea {
  background-color: #40414f3f;
}

body.dark textarea::selection,
body.dark input::selection {
  background-color: black;
}

body.dark #configForm {
  background-color: black;
  color: #686978;
}

body.dark textarea:focus {
  outline: 2px solid rgba(173, 216, 230, 0.508);
}

body.dark button:focus {
  outline: 2px solid rgba(64, 255, 0, 0.517);
}

body.dark #temperatureInput {
  border: solid rgba(238, 238, 255, 0.15);
}

body.dark select {
  background-color: #40414f;
  color: #d5d5db;
  border-color: #606070;
}

/******************************************************************/

body {
  padding: 0px;
  margin: 0px;
  width: 400px;
}

select {
  margin: 8px 0px;
  padding: 8px;
}

textarea {
  padding: 8px;
  border-color: #eee;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

textarea:focus {
  outline: 2px solid lightblue;
}

button:focus {
  outline: 2px solid rgb(64, 255, 0);
}

.container {
  height: 97vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  gap: 8px;
  border: none;
}
.horizontal {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0px;
  background-color: #5469d4;
  color: white;
  text-align: center;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.settings-button .icon {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.submit-config-button {
  background-color: #5469d4;
  color: white;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  float: right;
}

.cancel-config-button {
  background-color: lightgray;
  color: black;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#imagePreviewIcon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: 64px;
  height: 64px;
  border: none;
}

.submit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #5469d4;
  color: white;
  border-radius: 4px;
  border: none;
}

#aiModelSelect {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #5469d4;
  color: white;
  border-radius: 4px;
  border: none;
  opacity: 0.2;
  display: none;
}

#temperatureInput {
  position: absolute;
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
  bottom: 0;
  right: 80px;
  border: solid #eef;
  margin: 10px;
  opacity: 0.2;
  display: none;
}

.input-container {
  display: flex;
  position: relative;
}

.top,
.bottom,
.left,
.right {
  flex: 1;
}

.half {
  flex: 0.7;
}

#aiSuggestionTextArea {
  background-color: #fffbcd;
}

.config-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  align-items: center;
  justify-content: center;
}

#configForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

#configDefaultAIModelSelect {
  width: 100%;
}

#configForm input[type="text"],
#configForm input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  vertical-align: middle;
  cursor: pointer;
}
